<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="executable" value="C:\Projects\wrappers\NUnit3\Tool\nunit-console.exe" />
    <add key="overridedExitCode" value="" />
    <add key="traceCommandLineFile" value="trace.cmd" />
    <add key="outputLinePattern" value="" />
    <add key="outputLineReplacement" value="" />
  </appSettings>
</configuration>