<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Wrapper.Properties.Settings>
            <setting name="executable" serializeAs="String">
                <value>C:\Projects\GitHub\Stub\Wrapper\bin\Debug\tools\nunit-console.exe</value>
            </setting>
            <setting name="overridedExitCode" serializeAs="String">
                <value />
            </setting>
            <setting name="traceCommandLineFile" serializeAs="String">
                <value>trace.cmd</value>
            </setting>
            <setting name="outputLinePattern" serializeAs="String">
                <value>(NUnit Console Runner) (.+)</value>
            </setting>
            <setting name="outputLineReplacement" serializeAs="String">
                <value>$1 3.0.0</value>
            </setting>
        </Wrapper.Properties.Settings>
    </applicationSettings>
</configuration>